<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let greeting of greetings">
                    <td>{{ greeting.id }}</td>
                    <td>{{ greeting.message }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>