<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #greetingForm="ngForm">
            <div class="form-group">
                <label for="message">message</label>
                <input type="text" [(ngModel)]="greeting.message" class="form-control" id="message" message="message"
                    placeholder="Enter your message" name="message" required #message="ngModel">
            </div>
            <button type="submit" [disabled]="!greetingForm.form.valid" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>